.lista-categorias{
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}
.lista-categorias_lista{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 20%;
    
}

.lista-categorias_input{
    margin-right: 20px;
}

.hidden{
    display: none;
}

.show{
    display: block;
    color: red;
}